
			<div class="content mt-3">
			<!-- PAGE CONTENT HERE -->
				<h2>Business Tips</h2>
				
				<h3 class="mt-4">Common Bookkeeping Mistake</h3>
				<img class="float-end services-img" src="images/main-slider/Slide2.jpg" title="Common Mistakes" alt="Common Mistakes">
				<p>A problem I often see working with my clients is that when they link their bank account to QuickBooks and all of their bank transactions are automatically downloaded, they think "that's it!  I'm done".   NOOOOOO!!!!   It's a start but you are not done.  When the transactions are downloaded, they do NOT go directly into your check register - they are just hanging out on the download page until you code the transaction and then click on ADD or MATCH.  Then it goes into your check register and affects your balance.</p>
				<p>You also need to reconcile your bank account at least once a month in QuickBooks.  This way you will see any duplicate transactions you have entered and make sure you have entered all transactions.  But if you don't code all of the downloaded transactions first, you will not see these transactions on the Bank Reconciliation page.  After you reconcile to your bank statement, you should also look to see what is still outstanding.  Are there old transactions that haven't cleared yet?  Why?  It could be checks you have written that haven't cleared yet but if it's been months, you might want to check with the payee to see if they received the check. </p>
				<p>So please download your transactions AND code and enter them into your check register AND reconcile your account.  OR call me or another QB ProAdvisor to help you clean up your books and get your started on the right track. </p>
				<p>Happy QuickBooking!</p>
				
				<h3 class="mt-4">QuickBooks Year-End Checklist</h3>
				<ul>
					<li>Record all outstanding transactions in QuickBooks</li>
					<li>Reconcile all bank and credit card accounts</li>
					<li>Make sure your A/P and A/R are up to date</li>
					<li>Review your expenses and make sure they are categorized correctly</li>
					<li>Verify all year-end loan balances</li>
					<li>Verify all employee information is current and accurate</li>
					<li>Collect IRS W9 forms from all independent contractors you have paid this year</li>
				</ul>
				
				<div class="clearfix">
					<h3 class="mt-4">Establishing a Corporation</h3>
					<p>Whether you are an S Corporation, C Corporation or an LLC – you are required to pay an annual fee to the GA Secretary of State.</p>
					<ul>
						<li>Annual dues of $50 are due by April 1st of each year</li>
						<li>Your company can be dissolved if you don’t pay the fee & you lose your corporate status</li>
						<li>Check your status now at their website: <a href="https://ecorp.sos.ga.gov/" target="_blank">https://ecorp.sos.ga.gov/</a></li>
					</ul>
				</div>
				
				<h3 class="mt-4">Welcome to Business Tips</h3>
				<p>WHY DO I NEED A BOOKKEEPER?</p>
				<p>You have a new business or a small business.  You are trying to do everything yourself and you are getting overwhelmed.  Running your business, dealing with customers, vendors, employees and you keep meaning to catch up on the bookkeeping.  You just want to focus on what you do best:  whatever service or product you provide that made you want to start your own business.  But it can be overwhelming all of the paperwork, tax filings (payroll tax, sales tax, Corporate tax, estimated taxes, oh and have you paid your annual dues to the Secretary of State?).  It can all get to be too much and you get further and further behind.</p>
				<p>A Qualified Bookkeeper can reconcile your bank and credit card accounts, correct the coding and review your financials with you.  Reconciling your bank account monthly (or weekly, if needed) can show you if you have outstanding checks that haven't cleared.  By matching your records to the bank statement, you will also pick up on any transactions that you missed like auto debits and bank fees.  Correct coding of all bank transactions can give you accurate reports.  Not only the Profit & Loss Statement so you can compare your income to your expenses but you can also run reports by expense to see how much you are spending in certain categories or how much you are spending with a certain vendor.</p>
				<p>A Qualified Bookkeeper can work closely with you and your accountant to provide financials and other reports that help you during the year and help you and your CPA at tax time.</p>
				
				<h3 class="call">Call Us Now to Get Started (770) 845-6093</h3>
			</div>
		