
			<div class="row mt-3">
			<!-- Carousel -->
				<div id="demo" class="carousel slide carousel-fade" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="images/main-slider/Slide2.jpg" title="Account Reconciliations" alt="Account Reconciliations">
							 <div class="carousel-text">
							 	<h3 class="text-end">Account<br>Reconciliations</h3>
							 </div>
						</div>	
						<div class="carousel-item active">
							<img class="d-block w-100" src="images/main-slider/Slide1.jpg" title="Certified QuickBooks ProAdvisor" alt="Certified QuickBooks ProAdvisor">
							 <div class="carousel-text">
							 	<h3 class="text-end">Certified<br>QuickBooks ProAdvisor</h3>
							 </div>
						</div>	
						<div class="carousel-item active">	
							<img class="d-block w-100" src="images/main-slider/Slide3.jpg" title="Business Bookkeeping" alt="Business Bookkeeping">
							 <div class="carousel-text">
							 	<h3 class="text-end">Business<br>Bookkeeping</h3>
							 </div>
						</div>
					</div>
				</div>
			</div>
	
			<div class="row mt-3">
			<!-- Row 3 -->
				<div class="col-sm-3 d-grid">
					<a href="quickbooks.php" class="btn rounded-0 float-start btn-qb">
						<img alt="Certified QuickBooks ProAdvisor" src="images/icons/qb.png">
						<p>Certified QuickBooks ProAdvisor</p>
					</a>
				</div>
				<div class="col-sm-3 d-grid">
					<a href="services.php#apar" class="btn rounded-0 btn-ar">
						<img alt="A/P, A/R, and Payroll" src="images/icons/payroll.png">
						<p>Accounts Payable<br>Accounts Receivable</p>
					</a>
				</div>
				<div class="col-sm-3 d-grid">
					<a href="services.php#recon" class="btn rounded-0 btn-recon">
						<img alt="Accounts Reconciliation" src="images/icons/gear.png">
						<p>Accounts Reconciliation</p>
					</a>
				</div>
				<div class="col-sm-3 d-grid">
					<a href="services.php#reports" class="btn rounded-0 float-end btn-mq">
						<img alt="Monthly & Quarterly Bookkeeping" src="images/icons/numbers.png">
						<p>Monthly &amp; Quarterly Bookkeeping</p>
					</a>
				</div>
			</div>
	
			<div class="row mt-3">
			<!-- Row 4 -->
				<div class="col-sm-3">
					<img class="img-fluid" src="images/certifications/Gold_Tier_Badge.png" alt="Gold Tier Certified QuickBooks ProAdvisor">
				</div>
				
				<div class="col-sm-6">
					<div class="card rounded-0 blurb">
						<div class="card-body">
							 <h4 class="card-title">Welcome to Stout Bookkeeping</h4>
							 <p class="card-text">For over 15 years, I’ve enjoyed working with a variety of clients and new businesses, helping them setup their new corporation, registering for federal and state ID numbers and helping them with their bookkeeping and QuickBooks needs.</p>
							 <p class="card-text">Call Stout Bookkeeping for your business needs.</p>
							 <h4 class="card-title">(770) 845-6093</h4>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="card rounded-0 border-0">
						<div class="card-body">
							<img class="img-fluid" src="images/certifications/1_Badge_Online_large@2x.png" alt="Certified Online QuickBooks ProAdvisor">
						</div>
					</div>
				</div>
			</div>
			