		
			<div class="row mt-3">
			<!-- Row 5 -->
				<nav class="navbar navbar-expand-sm justify-content-center">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="index.php">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="services.php">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="business-tips.php">Business Tips</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="quickbooks.php">QuickBooks</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.php">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			
		<!-- END container div -->
		</div>		
	</body>
</html>