
			<div class="content mt-3">
			<!-- PAGE CONTENT HERE -->
				<h2>QuickBooks &copy;</h2>
				
				<div class="clearfix">
					<h3 class="mt-4">What is QuickBooks?</h3>
					<img class="qb-img" src="images/admin/qbcloud.jpg" title="xxxx" alt="xxxxx">
					<p>Desktop or Online software designed for small business to manage your company's finances: banking, payroll, sales, accounts receivable, accounts payable and more. You can create and modify reports to suit your business needs such as Balance Sheet & Profit & Loss Statements</p>
				</div>
				
				
				<div class="clearfix">
					<h3 class="mt-4">QuickBooks ProAdvisor</h3>
					<img class="qb-img" src="images/admin/quickbooks-online-2.jpg" title="xxxx" alt="xxxxx">
					<p>I am a Certified QuickBooks ProAdvisor for Desktop and Online versions. I have worked with QuickBooks for over 15 years. I can set up a new QuickBooks company file OR help you clean up the current file. I can show you how to correctly code all bank transactions so you can get accurate reports. I have worked in a tax accounting firm for over 13 years so know how to properly code transactions so you can get accurate financials and provide them to your tax accountant at tax time. I’ve seen the common mistakes clients make with QB and can help you avoid or correct them. I can review your financials with you and point out red flags that your CPA will notice and help get your financials in order before tax time. I can also work with your accountant to correct account balances so prior year end balances are correct and financials going forward are on the right track.</p>
				</div>
			
				<div class="clearfix">
					<h3 class="mt-4">What you can do with QuickBooks</h3>
					<img class="qb-img" src="images/admin/Customers.png" title="xxxx" alt="xxxxx">
					<ul>
						<li>Reconcile bank account weekly, monthly or whatever schedule you need so you always know your real balance</li>
						<li>Set up Recurring Transactions for expenses that you need to remember to pay every month or auto-debits that are automatically drafted from your account</li>
						<li>Set up Chart of Accounts for income and expense accounts that fit your business</li>
						<li>Create and send invoices from QuickBooks – can print & mail to clients or email from QuickBooks</li>
						<li>Keep up with and track bills with Accounts Payable features</li>
						<li>Payroll – if you have a small payroll and want to do it yourself, I can help you setup and do payroll through QuickBooks. I’m experienced with setting up new employees, preparing paychecks or direct deposit, paying monthly & quarterly payroll taxes, preparing the quarterly reports and year end reports including W2s and 1099s</li>
					</ul>
				</div>
				
				<div class="clearfix">
					<h3 class="mt-4">What you can do with QuickBooks</h3>
					<img class="qb-img" src="images/admin/qbo_feature_2.en-AU.jpg" title="xxxx" alt="xxxxx">
					<ul>
						<li>Online Versions: Compare QuickBooks Online versions: <a href="http://quickbooks.intuit.com/online/compare" target="_blank">http://quickbooks.intuit.com/online/compare</a></li>
						<li>Simple Start - a little too basic for most businesses but you can always upgrade if you first choose this option</li>
						<li>Essentials </li>
						<li>Plus </li>
					</ul>
					<p>If you are already using QuickBooks Online and paying a monthly fee, I can help save you money if you sign up through me. Just call or email me if you would like to discuss.</p>
					<h3 class="mt-4 call">Call Us Now to Get Started (770) 845-6093</h3>
				</div>

			</div>
