
			<div class="content mt-3">
			<!-- PAGE CONTENT HERE -->
				
				<h2>SERVICES</h2>
				<img class="float-end services-img" src="images/main-slider/Slide3.jpg" title="Business Bookkeeping" alt="Business Bookkeeping">
				<p>For over 15 years, I’ve enjoyed working with a variety of clients and new businesses, helping them with the setup of their new corporation, registering for federal and state ID numbers and helping them with their bookkeeping and QuickBooks needs. It’s exciting and challenging to start a new business. You are trying to do everything yourself from answering the phone, doing the bookkeeping and providing the service or product you sell. It’s easy to get overwhelmed and then you get further and further behind.</p>
				<p>I can help. I love bookkeeping and working with new companies. I can set up your new company in QuickBooks and show you how to keep up with the banking on a weekly basis or do it for you so you can keep up with your correct bank balance and see your expenses vs. income.</p>
				<p>I can also help clean up your financial books before you head to your tax accountant. I know the information you need to be able to run your business during the year (accurate reports of income & expenses) AND I’ve worked in a tax accounting firm for over 13 years so I know what your tax accountant needs to be able to prepare your corporate and personal tax returns. I can help you get ready for TAX SEASON!</p>
				
				
				<div class="clearfix">
					<h3 class="mt-4">QuickBooks</h3>
					<ul>
						<li>Certified QuickBooks ProAdvisor</li>
						<li>Can help you set up or clean up your QuickBooks</li>
						<li>Desktop or Online versions</li>
						<a href="quickbooks.html">Learn more about QuickBooks</a>
					</ul>
				</div>
				
				
				<a id="recon"></a>
				<h3 class="mt-4">Bank and credit card account reconciliations</h3>
				<ul>
					<li>Weekly or monthly reconciliation to balance to your bank statement to ensure you always know your correct balance</li>
					<li>Helps to make sure you have entered all transactions including auto-debits and debit card expenses</li>
					<li>Can enter or download all credit card charges so you can track charges and keep an eye on your balance</li>
					<li>Identify any outstanding items that should have cleared</li>
				</ul>
				
				<a id="reports"></a>
				<h3 class="mt-4">Monthly & Quarterly Bookkeeping</h3>
				<ul>
					<li>Balance Sheet – summarizes your business assets, liabilities and net worth at any given time</li>
					<li>Profit & Loss Statements – track your income and expenses</li>
					<li>Weekly, monthly or quarterly – whatever you need to provide the reports you need to run your business</li>
					<li>Can help you code all bank & credit card transactions correctly so you can track how much you spend on all expenses</li>
					<li>When all transactions are coded correctly, you can easily run reports by expense account, vendor or a certain time period to see how much you are spending and where you can make changes if needed</li>
					<li>Assist you in cleaning up your annual financials before tax time with your accountant</li>
				</ul>
				
				<a id="apar"></a>
				<h3 class="mt-4">Accounts Payable</h3>
				<ul>
					<li>Enter all bills into QuickBooks and provide you with Accounts Payable reports</li>
					<li>Helps you see when bills are due and control cash flow</li>
					<li>Enter invoice#s and date paid and you can make sure you don’t duplicate payments</li>
				</ul>
				
				<h3 class="mt-4">Accounts Receivable</h3>
				<ul>
					<li>Enter all invoices & provide Accounts Receivable reports</li>
					<li>Keep track of slow or NO payers and help you follow up</li>
				</ul>
				
				<h3 class="mt-4 call">Call Us Now to Get Started (770) 845-6093</h3>
			</div>
